$colors = {
  primary: $color-text-primary
  secondary: $color-text-secondary
  tertiary: $color-text-tertiary
  quaternary: $color-text-quaternary
}
for key, color in $colors {
  [color-{key}] {
    color: color
  }
}
