/* page
------------------------ */
html {
  color: $color-text-primary;
  background-color: $background-color-primary
}

/* article
------------------------ */
p {
  line-height: 1.5
}

/* images
------------------------ */
img {
  width: 100%
  vertical-align: middle
}
