$launch-height = 30px

.c-box-skin
  height: 50px
  width: 100%
  &--bgColor
    bgColor(white)
.search
  box-shadow: 0 0 2px $color-primary
  height: $launch-height
  width: 7rem
  input
    border: none
    outline: none
    height: $launch-height - 10
    width: 100%
